*,
*:before,
*:after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.infiniteSlider-outerWrapper {
	overflow: hidden;
}

.infiniteSlider-innerWrapper {
	white-space: nowrap;
	transition: transform 1s ease;
}

.infiniteSlider-slides {
	display: inline-block;
}
